- content_for :header_tags do
  %meta{ property: 'og:site_name', content: @title }/
  %meta{ property: 'og:title', content: @title }/
  %meta{ property: 'og:type', content: 'website' }/
  %meta{ property: 'og:image', content: asset_url('mastodon_small.jpg') }/
  %meta{ property: 'og:image:width', content: '400' }/
  %meta{ property: 'og:image:height', content: '400' }/
  %meta{ property: 'twitter:card', content: 'summary' }/
  = stylesheet_link_tag 'about', media: 'all'

%main#portal

  %h1=link_to @title, portal_path

  %nav
    = link_to t('about.about'), about_path
    = link_to t('auth.create'), new_user_registration_path
    = link_to t('auth.enter'), new_user_session_path
