@charset "UTF-8";

/*
  This stylesheet contains a few default colour palettes you can use
  when customizing your server for a consistent appearance.
*/

///////////////////////////////////////////////////////////////////////

/*  PRINT + PASTELS  */
/*  by: Kibigo!      */

/*
  This theme combines offwhite greys with bright pastels for a faded
  yet distinctive look.
*/

//  PRINT  //

$print_white: #faf8f7;
$print_bright: #dedbd9;
$print_light: #b8b3b0;
$print: #948d87;
$print_medium: #75706a;
$print_dark: #57534c;
$print_dim: #302f2b;
$print_black: #1f1a14;

//  PASTELS  //

$pastel_red: #b01c1c;
$pastel_orange: #d15919;
$pastel_gold: #eb9100;
$pastel_yellow: #fae13e;
$pastel_green: #50d952;
$pastel_cyan: #1aaceb;
$pastel_blue: #4b2df7;
$pastel_pink: #f56e97;

///////////////////////////////////////////////////////////////////////

/*  rainbow.txt  */
/*  by: Kibigo!  */

/*
  This theme contains eight colours and eight greys. Each colour comes
  in standard, light, and dark variants.
*/

//  RED  //

$red: #e83f2c;
$red_light: #f9a59b;
$red_dark: #5d2721;

//  YELLOW  //

$yellow: #f6d037;
$yellow_light: #fcf0be;
$yellow_dark: #4f420d;

//  GREEN  //

$green: #6ad622;
$green_light: #d5fcbb;
$green_dark: #1f4505;

//  CYAN  //

$cyan: #31b9db;
$cyan_light: #bfe7f2;
$cyan_dark: #00495c;

//  BLUE  //

$blue: #7476fc;
$blue_light: #d0d1f6;
$blue_dark: #383966;

//  PURPLE  //

$purple: #c258f2;
$purple_light: #eabdff;
$purple_dark: #4c3159;

//  MAGENTA  //

$magenta: #e63ca4;
$magenta_light: #f0b2d8;
$magenta_dark: #592846;

//  GREY  //

$grey_white: #f5f5f5;
$grey_bright: #cccccc;
$grey_light: #a3a3a3;
$grey: #828282;
$grey_medium: #636363;
$grey_dark: #3b3b3b;
$grey_dim: #1c1c1c;
$grey_black: #0c0c0c;

///////////////////////////////////////////////////////////////////////

/*  MOTHER MINT                  */
/*  from the Mother video games  */

/*
  This palette contains a mint theme inspired by the Mother series of
  video games.
*/

$mint00: #000000; // black
$mint01: #50f0b0; // light
$mint02: #30c088; // medium
$mint03: #209868; // dark
$mint04: #106078; // blue
$mint05: #78f8d0; // bright
$mint06: #f8f0e8; // white

///////////////////////////////////////////////////////////////////////

/*  MASTODON     */
/*  by: Gargron  */

/*
  This theme contains the original eight-colour palette used by
  https://mastodon.social. Use it to obtain that old-school Mastodon
  vibe.
*/

$color1: #282c37; // darkest
$color2: #d9e1e8; // lightest
$color3: #9baec8; // lighter
$color4: #2b90d9; // vibrant
$color5: #ffffff; // white
$color6: #df405a; // error red
$color7: #79bd9a; // succ green
$color8: #000000; // black
