- content_for :page_title do
  = t 'about.terms'

- content_for :header_tags do
  %meta{ property: 'og:title', content: t('about.terms') }/
  %meta{ property: 'og:description', content: "The terms for this instance."}/

%h2=t 'about.terms'

This instance is without terms!
