@import 'cores';

/*  PORTAL STYLING  */

main#portal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 0;
  width: max-content;
  height: calc(100vh - 84pt);
  text-transform: uppercase;
  nav {
    font-size: 21pt;
    font-weight: 300;
    line-height: 1;
    text-align: right;
    a[href]:not(:first-child) {
      margin-left: 15pt;
    }
  }
}

/*  STATISTICS TABLE  */

table.statistics {
  width: 100%;
  font-variant: small-caps;
  text-align: right;
  td {
    margin: 0;
    padding: 0;
  }
  span {
    display: block;
    color: $print_bright;
  }
  b {
    display: inline-block;
    padding: 0 3pt;
    font-size: 31.5pt;
    line-height: 1;
    background: $print_bright;
    color: $print_black;
  }
}
