@import 'variables/colours';

/*
  Use this stylesheet to configure the SCSS variables used by various
  packages.
*/

$mastodon-color1: $print_dim;
$mastodon-color2: $print_bright;
$mastodon-color3: $print_light;
$mastodon-color4: $pastel_cyan;
$mastodon-color5: $print_white;
$mastodon-color6: $pastel_red;
$mastodon-color7: $pastel_green;
$mastodon-color8: $print_black;
